/* Base */
body {
    font-family: monospace;
    font-size: 15px;
    margin: 0;
    background-color: #f9f9f9;
    color: #111;
    transition: background 0.3s, color 0.3s;
    
}

/* Header */
header {
    background-color: #2c3e50;
    padding: 12px 20px;
    position: sticky;
    top: 0;
}

/* NAVBAR FIX */
nav {
    background-color: #ff8a98;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a, nav button {
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

nav a:hover {
    color: #ff8a98;
}

.name-title{
    text-align: center; 
}
/* About section */
.about-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    margin: 0 auto;
}

.profile-pic {
    object-fit: cover;
    border-radius: 35%
}
.about-me-text{
    text-align:center;
}
.info {
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: monospace;
    font-size: 18px;
}
.icons a {
    display:contents;
    font-size: 20px;
    color: #1abc9c;
    transition: color 0.3s;
}

.icons a:hover {
    color: #16a085;
}
.custom-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    filter: invert(40%) sepia(60%) saturate(500%) hue-rotate(160deg);
}
/* Dark mode adjustment */
body.dark-mode .icons a {
    color: #4dd0e1;
}
/* Sections */
section {
    width: 70%;
    margin: 20px auto;
    padding: 0 20px;
}

.my-publications{
    width: 70%;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pub-items{
    padding:10px;
}
h1 {
    margin-bottom: 10px;
    font-family:monospace;
    font-size: 40px;
    
}

h2 {
    border-bottom: 2px solid;
    padding-bottom: 5px;
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
}

a:hover {
    text-decoration: underline;
}

/* Dark Mode */
 body.dark-mode nav {
    background-color: grey;
}

body.dark-mode {
    background-color: #121212;
    color: #eee;
}

body.dark-mode header {
    background-color: #1f1f1f;
}

body.dark-mode h1{
    color:#ffffff;
}
body.dark-mode a {
    color: #4dd0e1;
}
